<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>

</head>

<body>

      {{!-- Header Start   --}}
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="" class="nav-brand text-dark">User Management System </a>
                </div>
            </div>
        </nav>
    </header>
    {{!-- Header  End --}}


      {{!-- User List Start  --}}
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add_user" class="border-shadow">
                    <span class="text-gradient"> Add User
                        <i class="fas fa-user"></i>
                    </span>
                </a>
            </div>

              {{!-- Form Start     --}}
            <form action="/" method="post">
             
                {{!-- <input type="hidden" name="_id" value="{{course._id}}"> --}}

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>S.No</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{#each dataList}}
                            <tr>
                                <td><span class="count"></span></td>
                                <td>{{_id}}</td>
                                <td> {{name}}</td>
                                <td> {{email}}</td>
                                <td> {{gender}} </td>
                                <td> {{status}}</td>
                                <td>
                                    <a href="/employee/{{_id}}" id="{{_id}}" class="btn border-shadow update">
                                        <span class="txt-gradient">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </a>
                                    <a href="/delete/{{_id}}" class="btn border-shadow update">
                                        <span class="txt-gradient">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                      {{/each}}
                    </tbody>


                </table>
            </form>
              {{!-- Form End     --}}
        </div>
    </main>
     {{!-- User List End  --}}




</body>

</html>